---
import { getTypeDocs } from './utils/lua';

type Props = {
    url: string | null;
    type: string;
};

let { url, type } = Astro.props;

// Array shorthand notation
const arrayType = type.match(/\{(.*?)\}/);
if (arrayType) {
    url = getTypeDocs(arrayType[1].trim());
}
---

<>
    {(url && <a href={url}>{type}</a>) || type}
</>
