---
import LuaTable from "./LuaTable.astro";
import { getKvPairs, getTypeDocs, isObject } from "./utils/lua";

type Props = {
	url: string | null;
	type: string;
};

let { url, type } = Astro.props;
let pairs: string[][] = [];

const tableType = type.match(/\{(.*?)\}/);
if (tableType) {
	if (isObject(tableType[1])) {
		// KV table
		pairs = getKvPairs(tableType[1]);
		url = null;
	} else {
		// Array shorthand notation
		url = getTypeDocs(tableType[1].trim());
	}
}
---

<>
  {
    (url && <a href={url}>{type}</a>) ||
      (pairs.length !== 0 && (
        <LuaTable pairs={pairs} tableInner={tableType![1]} />
      )) ||
      type
  }
</>
