---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/Pagination.astro";
import ContributorAvatars from "./ContributorAvatars.astro";

const file = Astro.props.entry.id;
const excludes = ["404.astro", "index.mdx"];
---

<div>
    {
        !excludes.includes(file) && (
            (
            <>
                <div class="contributors">
                    <ContributorAvatars repo="DiscordLuau/docs" file={file} />
                </div>
                <br />
            </>
            )
        )
    }

    <Default {...Astro.props}><slot /></Default>
</div>

<style>
    .contributors {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        align-items: end;
    }
</style>
